div(class="squeezer-recipe", typeof="schema:Action", property="schema:potentialAction")
    div(class="appendix-icon", rel="schema:instrument") !{appendixIcon}
    div(class="recipe-duration", property="schema:duration", datatype="xsd:duration")=duration
    div(class="inputs", rel="schema:item")
        ul(class="alternatives")
            each alt in input
                li !{alt}
    div(class="arrow") &rarr;
    div(class="output", rel="schema:result")
        each output in outputs
            .
                !{output}