div(class="squeezer-recipe")
    div(class="appendix-icon") !{appendixIcon}
    div(class="inputs")
        ul(class="alternatives")
            each alt in input
                li !{alt}
    div(class="arrow") &rarr;
    div(class="output")
        each output in outputs
            .
                !{output}