body {
    font-family: 'Open Sans', sans-serif;
    background: var(--color-outer-background);
    margin: 0;
}

header {
    font-weight: bolder;
    padding: 10px;
    background: var(--color-border);
    background-image: linear-gradient(to right, var(--color-border-light), var(--color-border-light), var(--color-border));
}

footer {
    color: #d3d3d3;
    font-size: 12px;
    margin: 10px;
}

footer a {
    color: #d3d3d3;
}

footer a:hover {
    color: #a0a0a0;
}

h1, h2, h3, h4 {
    color: var(--color-h);
    font-family: 'Droid Sans', sans-serif;
}

.root-info {
    margin-top: 10px;
    font-size: 18px;
}

.root-info ul li {
    list-style-type: circle;
    font-size: 14px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    font-family: 'Droid Sans', sans-serif;
}

.breadcrumbs ul li a {
    color: #d3d3d3;
}

.breadcrumbs ul li a:hover {
    color: white;
}

.breadcrumbs li {
    padding: 2px;
    display: inline-block;
    font-size: 12px;
}

.breadcrumbs li::before {
    content: "> ";
}

.languages ul {
    float: right;
    margin: 0;
    padding: 0;
    color: #d3d3d3;
    font-family: 'Droid Sans', sans-serif;
}

.languages ul li a {
    color: #d3d3d3;
}

.languages ul li a:hover {
    color: white;
}

.languages li {
    padding: 5px;
    display: inline-block;
    font-size: 10px;
}

.main-outer {
    background: var(--color-main-background);
}

section.main {
    padding: 10px;
    min-height: 600px;
    width: 800px;
    margin: auto;
}

a {
    color: #292929;
}

a:hover {
    color: #4c4c4c;
}

hr {
    color: var(--color-border);
}

.page-controls {
    margin-top: 10px;
    border-top: solid 1px var(--color-border);
    text-align: center;
}

.page-controls .next,
.page-controls .previous {
    font-size: 12px;
    margin: 8px;
}

.page-controls .next::after {
    content: ' >>';
}

.page-controls .previous::before {
    content: '<< ';
}

.appendix-wrapper {
    text-align: center;
}

.appendix {
    margin: 5px;
    text-align: center;
    border-radius: 25px;
    border: solid 2px var(--color-border);
    display: inline-block;
    padding: 2px;
}

.appendix-header {
    width: 230px;
    display: inline-block;
    border: solid 2px var(--color-border);
    border-top: none;
    border-radius: 0 0 25px 25px;
    background-color: var(--color-border-muted);
    color: var(--color-h);
    font-weight: bold;
    font-size: 18px;
    font-family: 'Droid Sans', sans-serif;
    position: relative;
    top: -2px;
}

.appendix-image {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border-radius: 25px;
    margin: 0;
    position: relative;
    top: 1px;
}

.appendix .inputs {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.appendix table.inputs {
    border-collapse: collapse;
}

.appendix table.inputs td {
    padding: 0;
}

div.item {
    height: 32px;
    width: 32px;
    text-align: right;
}

div.item-slot {
    border: 2px solid black;
    border-right-color: white;
    border-bottom-color: white;
}

img.item-icon {
    width: 32px;
    height: 32px;
}

div.item .item-count {
    color: white;
    font-weight: bold;
    position: relative;
    top: -22px;
    left: 2px;
    font-size: 16px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Courier New", monospace;
}

div.item .item-annotation {
    color: white;
    font-weight: bold;
    position: relative;
    top: -46px;
    left: 0px;
    font-size: 12px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Courier New", monospace;
}

ul.alternatives,
ul.alternatives-updating {
    margin: 0;
    padding: 0;
}

ul.alternatives li,
ul.alternatives-updating li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.alternatives li:not(:first-child) {
    display: none;
}

ul.alternatives-updating li:not(.item-variant-selected) {
    display: none;
}

.appendix .arrow {
    display: inline-block;
    margin: 10px;
    font-weight: bolder;
    font-size: 50px;

    vertical-align: middle;
    position: relative;
    top: -7px;
}

.appendix .output {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.appendix .crafting_recipe .appendix-icon {
    position: relative;
    top: 21px;
    left: 167px;
    margin-bottom: -36px;
    z-index: 10;
}

.appendix .furnace_recipe .appendix-icon {
    position: relative;
    top: 10px;
    left: 133px;
    margin-bottom: -28px;
    z-index: 10;
}

.crafting_recipe,
.furnace_recipe {
    width: 300px;
}

.advancement_rewards {
    width: 400px;
}

.advancement_rewards .advancements li {
    list-style-type: circle;
}

.advancement_rewards {
    text-align: left;
}

.advancement_rewards .advancements .advancement-title {
    font-weight: bold;
    font-size: 12px;
}

.advancement_rewards .advancements .advancement-title::after {
    content: ": ";
}

.advancement_rewards .advancements .advancement-description {
    font-size: 12px;
}

.advancement_rewards .rewards-string {
    font-weight: bold;
    font-size: 12px;
}

.advancement_rewards .rewards-string::after {
    content: ": ";
}

.advancement_rewards table.rewards {
    margin: 10px;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    border-collapse: collapse;
}

.advancement_rewards table.rewards td {
    padding: 0;
    margin: 0;
}

.keybinding {
    width: 300px;
    font-size: 12px;
}

.keybinding .name {
    font-weight: bold;
}

.keybinding .key {
    font-size: 14px;
}

.tag_index {
    width: 300px;
    text-align: left;
}

.tag_index .item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.tag_index ul {
    padding: 0;
    margin-left: 2px;
}

.tag_index li {
    list-style-type: none;
}
