.squeezer-recipe,
.drying-basin-recipe,
.aspect{
    width: 300px;
}

.appendix .squeezer-recipe .appendix-icon,
.appendix .drying-basin-recipe .appendix-icon {
    position: relative;
    top: 10px;
    left: 133px;
    margin-bottom: -28px;
    z-index: 10;
}

.appendix .squeezer-recipe .recipe-duration,
.appendix .drying-basin-recipe .recipe-duration {
    font-size: 10px;
    position: relative;
    top: 36px;
}

.appendix .aspect {
    font-size: 12px;
    text-align: left;
}

.appendix .aspect .aspect-name {
    font-weight: bold;
}

.appendix .aspect .aspect-name::after {
    content: ': ';
}

.aspect .aspect-properties .label {
    font-weight: bold;
}

.aspect .aspect-properties li {
    list-style-type: circle;
}
